/* reset properties */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* helping class */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/***** Section category*****/  

.card{
    margin-top: 10vh;
    padding:20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.321);
}
.card .card-img{
    height: 260px;
  padding: 20px;
    
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card .card-text{
    margin-top: 8px;
    padding-top:8px ;
    border-top: 1px solid grey;
}

.heading h3{
    color: rgb(85, 84, 84);
    font-size: 12px;
    margin: 10px 0;
    font-family: Roboto;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 400;
}

.heading p{
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin: 10px 0;
    font-family: Roboto;
}

.heading .price-p{
    color: #111;
    font-size: 20px;
    display: flex;
    font-weight: 800;
    justify-content: space-between;
}

.card-text button{
    width: 100%;
    padding: 16px 24px;
    text-align: center;
    font-size: 16px;
    font-family: Roboto;
    cursor: pointer;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 8px;    
    text-transform: capitalize;
}
.card-text button:hover{
    background-color: #111;
    color: #fff;   
    border: 2px solid #fff;
}

.category-cards{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr)) ;
}

/***** End Section category*****/
